.navbar {
  border-radius: 0;
  color: #eee;
}

.navbar-brand {
  font-weight: bold;
}

#myFooter {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

#myFooter {
  background-color: #f7f7f7;
  padding: 30px 0;
  border-top: 1px solid #ddd;
}

@media screen and (min-height: 760px) {
  #myFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
  }
  body {
    padding-bottom: 190px;
  }
}

#myFooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#myFooter h5 {
  margin-top: 0;
}

.footer-copyright {
  color: #444;
  margin-top: 10px;
  padding-bottom: 5px;
  margin-right: 20px;
  text-align: left;
}

.chart-container {
  padding: 25px;
  padding-bottom: 0;
  border: 10px solid#2c3e50;
  border-radius: 3px;
  margin: 25px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px #444;
}

.chart-container .chart {
  overflow-x: scroll;
  overflow-y: hidden;
}

.alert {
  padding: 11px;
  padding-right: 36px;
}

.alert-primary {
  border-color: #7a848f;
}

.alert .close:hover,
.alert .close:focus {
  color: #2c3e50;
}
